[Unit]
Description=UDP HC GEOVPN

[Service]
User=root
Type=simple
ExecStart=/etc/novan/udp server
WorkingDirectory=/etc/novan/
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target

